/*global*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.non-display {
  display: none;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format(woff2),
    url('../fonts/OpenSans-Regular.woff') format(woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format(woff2),
    url('../fonts/OpenSans-SemiBold.woff') format(woff);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format(woff2),
    url('../fonts/OpenSans-Bold.woff') format(woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', 'sans-serif';
  font-weight: 400;
}

:root {
  --dark-purple: #7B61FF;
  --purple: #9873FF;
  --light-purple: #B89EFF;
  --white: #ffffff;
  --grey: #B0B0B0;
  --light-grey: #C8C5D1;
  --black: #333333;
  --red: #F06A4D;
}

.container {
  padding: 0 20px;
}

::-webkit-scrollbar {
  display: none;
}
/*global*/

/*static-html*/
.header {
  padding: 20px 0;
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32),
  0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
}

.header__container {
  gap: 54px;
}

.header__input {
  flex-basis: 580px;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--grey);
}

.header__input::placeholder {
  color: var(--grey);
}

.table-section {
  padding-top: 37px;
}

.table-section__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  padding: 10px;
  cursor: pointer;
}

.table__head--1 {
  max-width: 10%;
}

.table__head--2 {
  max-width: 20%;
}

.table__head--3 {
  max-width: 15%;
}

.table__head--4 {
  max-width: 15%;
}

.table__head--5 {
  max-width: 15%;
}

.table__head--6 {
  max-width: 25%;
}

.table__header {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  vertical-align: bottom;
  color: var(--grey);
}

.table__header--id {
  color: var(--purple);
}

.table__alphabet-icon {
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  color: var(--purple);
}

.add-client {
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.add-client__btn {
  align-self: center;
  align-items: center;
  padding: 11px 24px;
  border: 1px solid var(--purple);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--purple);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-client__btn:focus {
  background-color: var(--dark-purple);
  color: var(--white);
}

.add-client__btn:hover {
  background-color: var(--light-purple);
  color: var(--white);
}

.add-client__btn:active {
  background-color: var(--dark-purple);
  color: var(--white);
}

.add-client__icon {
  margin-right: 12px;
}

.add-client__icon path {
  fill: var(--purple);
  transition: fill 0.3s ease-in-out;
}

.add-client__btn:focus svg path {
  fill: var(--white);
}

.add-client__btn:hover svg path {
  fill: var(--white);
}

.add-client__btn:active svg path {
  fill: var(--white);
}

/*static-html*/

/*table*/

.table__column {
  padding: 10px;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.table__column--id {
  color: var(--grey);
}

.table__text--date {
  display: inline-block;
  margin-right: 10px;
}

.table__text--time {
  display: inline-block;
  color: var(--grey);
}

.table__contacts-block {
  flex-wrap: wrap;
  max-width: 110px;
  gap: 7px;
}

.table__contact {
  position: relative;
}

.table__contact svg g {
  opacity: 0.7;
  transition: opacity, 0.3s ease-in-out;
}

.table__contact:focus svg g {
  opacity: 1;
}

.table__contact:hover svg g {
  opacity: 1;
}

.table__tooltip-block {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: 50%;
  display: inline-block;
  padding: 7px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.table__tooltip-link {
  text-decoration-line: underline;
  color: var(--light-purple);
}

.table__tooltip-block .table__tooltip-value::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

.table__contact:hover .table__tooltip-block {
  visibility: visible;
  opacity: 1;
}

.table__contacts-plus {
  width: 16px;
  height: 16px;
  border: 1px solid var(--purple);
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.table__contacts-plus:focus {
  color: var(--white);
  background-color: var(--dark-purple);
}

.table__contacts-plus:hover {
  color: var(--white);
  background-color: var(--light-purple);
}

.table__contacts-plus:active {
  color: var(--white);
  background-color: var(--dark-purple);
}

.table__change {
  transition: color 0.3s ease-in-out;
}

.table__change:focus {
  color: var(--purple);
}

.table__change:hover {
  color: var(--purple);
}

.table__delete {
  transition: color 0.3s ease-in-out;
}

.table__delete:focus {
  color: var(--red);
}

.table__delete:hover {
  color: var(--red);
}

/*table*/
