/*global*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.non-display {
  display: none;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format(woff2),
    url('../fonts/OpenSans-Regular.woff') format(woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format(woff2),
    url('../fonts/OpenSans-SemiBold.woff') format(woff);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format(woff2),
    url('../fonts/OpenSans-Bold.woff') format(woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', 'sans-serif';
  font-weight: 400;
  background: var(--white-bg);
}

.container {
  padding: 0 20px;
}

:root {
  --dark-purple: #7B61FF;
  --purple: #9873FF;
  --light-purple: #B89EFF;
  --white: #ffffff;
  --white-bg: #F5F5F5;
  --grey-option-bg: #E7E5EB;
  --grey: #B0B0B0;
  --light-grey: #C8C5D1;
  --black: #333333;
  --red: #F06A4D;
}

/*global*/

/*static-html*/

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  background: var(--white);
  -webkit-box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32),
    0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
  box-shadow: 0px 3.38629px 5.64383px 0px rgba(176, 190, 197, 0.32),
    0px 9.03012px 27.09036px 0px rgba(176, 190, 197, 0.32);
}

.header__container {
  gap: 54px;
}

.header__logo svg {
  width: 50px;
  height: 50px;
}

.header__search-block {
  position: relative;
  -ms-flex-preferred-size: 580px;
  flex-basis: 580px;
}

.header__autocomplete-block {
  position: absolute;
  top: 52px;
  left: 0;
}

.header__input {
  -ms-flex-preferred-size: 580px;
  flex-basis: 580px;
  padding: 12px 16px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.header__input::-webkit-input-placeholder {
  color: var(--grey);
}

.header__input::-moz-placeholder {
  color: var(--grey);
}

.header__input:-ms-input-placeholder {
  color: var(--grey);
}

.header__input::-ms-input-placeholder {
  color: var(--grey);
}

.header__input::placeholder {
  color: var(--grey);
}

.table-section {
  padding-top: 37px;
}

.table-section__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.table-block {
  position: relative;
  padding-bottom: 75px;
}

.table {
  min-width: 768px;
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  background: var(--white);
}

.table__head {
  padding: 10px;
  padding-bottom: 8px;
}

.table__head--5 {
  min-width: 130px;
}

.table__alphabet-icon {
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  color: var(--purple);
}

.table__row {
  background-color: var(--white);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.add-client {
  position: sticky;
  z-index: 10;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background: var(--white-bg);
}

.add-client__btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 24px;
  border: 1px solid var(--purple);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--purple);
}

.add-client__btn:focus {
  background-color: var(--dark-purple);
  color: var(--white);
}

.add-client__btn:hover {
  background-color: var(--light-purple);
  color: var(--white);
}

.add-client__btn:active {
  background-color: var(--dark-purple);
  color: var(--white);
}

.add-client__btn:disabled {
  border: 1px solid var(--black);
  background-color: var(--grey);
  color: var(--white);
}

.add-client__icon {
  margin-right: 12px;
}

.add-client__icon path {
  fill: var(--purple);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.add-client__btn:focus svg path {
  fill: var(--white);
}

.add-client__btn:hover svg path {
  fill: var(--white);
}

.add-client__btn:active svg path {
  fill: var(--white);
}

.add-client__btn:disabled svg path {
  fill: var(--white);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*static-html*/

/*table*/

.table__row {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.table__column {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.table__column--id {
  color: var(--grey);
}

.table__column--created {
  white-space: normal;
}

.table__text--date {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

.table__text--time {
  display: inline-block;
  margin: 0;
  color: var(--grey);
}

.table__column--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.table__contacts-block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 110px;
  gap: 7px;
}

.table__contact {
  position: relative;
}

.table__contact svg g {
  opacity: 0.7;
  -webkit-transition: opacity, 0.3s ease-in-out;
  -o-transition: opacity, 0.3s ease-in-out;
  transition: opacity, 0.3s ease-in-out;
}

.table__contact:focus svg g {
  opacity: 1;
}

.table__contact:hover svg g {
  opacity: 1;
}

.table__tooltip-block {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: 50%;
  display: inline-block;
  padding: 7px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background-color: var(--black);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.table__tooltip-link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--light-purple);
}

.table__tooltip-block .table__tooltip-value::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

.table__contact:focus .table__tooltip-block {
  visibility: visible;
  opacity: 1;
}

.table__contact:hover .table__tooltip-block {
  visibility: visible;
  opacity: 1;
}

.table__contacts-plus {
  width: 16px;
  height: 16px;
  border: 1px solid var(--purple);
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
  border-radius: 100%;
}

.table__contacts-plus:focus {
  color: var(--white);
  background-color: var(--dark-purple);
}

.table__contacts-plus:hover {
  color: var(--white);
  background-color: var(--light-purple);
}

.table__contacts-plus:active {
  color: var(--white);
  background-color: var(--dark-purple);
}

.table__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.table__change:focus {
  color: var(--purple);
}

.table__change:hover {
  color: var(--purple);
}

.table__delete:focus {
  color: var(--red);
}

.table__delete:hover {
  color: var(--red);
}

/*table*/

/*modals*/

.modal {
  overflow: auto;
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 450px;
  max-height: 77%;
  background-color: var(--white);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s
}

@-webkit-keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 20%;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

.modal__content {
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 30px;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 9px;
  margin-bottom: 15px;
  line-height: normal;
}

.modal__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.modal__id-display {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey);
}

.form__inputs {
  margin-bottom: 25px;
}

.form-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.form__label {
  position: relative;
}

.form__legend {
  position: absolute;
  left: 2px;
  bottom: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--grey);
}

.form__legend--value {
  bottom: 22px;
  font-size: 10px;
}

.form__required {
  font-weight: 600;
  color: var(--purple);
}

.form__text-input {
  width: 100%;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid var(--grey);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
}

.form__text-input--invalid {
  border-bottom: 1px solid var(--red);
  -webkit-transition: border-bottom 0.2s ease-in-out;
  -o-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}

.form__text-input--invalid-submited {
  border-bottom: 3px solid var(--red);
}

.form__contacts-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  padding: 8px 0;
  margin-bottom: 25px;
  background: var(--white-bg);
}

.form__contacts-add {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
}

.form__contacts-add:focus {
  color: var(--purple);
}

.form__contacts-add:hover {
  color: var(--purple);
}

.form__contacts-add svg path {
  fill: var(--purple);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.form__contacts-add:hover svg path {
  fill: var(--white-bg);
}

.form__contacts-add:active svg path {
  fill: var(--white-bg);
}

.form__contacts-add::after {
  content: '';
  position: absolute;
  top: calc(25% + 1px);
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/contact_add_hover.svg');
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.form__contacts-add:hover::after {
  opacity: 1;
}

.form__contacts-add:active:after {
  opacity: 1;
}

.form__custom-select {
  position: relative;
}

.form__custom-selected-arrow-block {
  position: relative;
}

.form__custom-selected {
  width: 125px;
  padding: 10px 12px;
  border: 1px solid var(--light-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  background: var(--grey-option-bg);
  cursor: pointer;
}

.form__custom-arrow {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: solid var(--purple);
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.up {
  top: 18px;
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.form__custom-option {
  position: absolute;
  z-index: 40;
  width: 125px;
  padding: 10px 12px 0 12px;
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  background: #F4F3F6;
  cursor: pointer;
}

.form__custom-option--last {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-grey);
}

.form__contact-input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 39px;
  border: 1px solid var(--light-grey);
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--black);
}

.form__contact-input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.form__contact-input::-moz-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.form__contact-input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.form__contact-input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.form__contact-input::placeholder {
  font-weight: 400;
  color: var(--grey);
}

.form__contact-input--invalid {
  border: 1px solid var(--red);
  -webkit-transition: background-color, 0.3s ease-in-out;
  -o-transition: background-color, 0.3s ease-in-out;
  transition: background-color, 0.3s ease-in-out;
}

.form__contact-input--invalid-submited {
  background-color: #fbd8d0;
}

.form__delete-block {
  position: relative;
}

.form__tooltip-block {
  visibility: hidden;
  position: absolute;
  z-index: 40;
  bottom: 100%;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  padding: 7px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background-color: var(--black);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.form__tooltip-block .form__tooltip-value::after {
  content: "";
  position: absolute;
  z-index: 40;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

.form__delete-block:focus .form__tooltip-block {
  visibility: visible;
  opacity: 1;
}

.form__delete-block:hover .form__tooltip-block {
  visibility: visible;
  opacity: 1;
}

.form__delete-contact {
  padding: 9px 5px;
  border: 1px solid var(--light-grey);
  background: var(--grey-option-bg);
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.form__delete-contact svg path {
  fill: var(--grey);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.form__delete-contact:focus {
  border: 1px solid var(--red);
}

.form__delete-contact:hover {
  border: 1px solid var(--red);
}

.form__delete-contact:focus svg path {
  fill: var(--red);
}

.form__delete-contact:hover svg path {
  fill: var(--red);
}

.form__submit-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px;
}

.form__button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
  background-color: var(--purple);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.form__button-submit:focus {
  background-color: var(--dark-purple);
}

.form__button-submit:hover {
  background-color: var(--light-purple);
}

.form__button-submit:active {
  background-color: var(--dark-purple);
}

.form__button-submit:disabled {
  background-color: var(--dark-purple);
}

.form__button-revert {
  border-bottom: 1px solid var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.modal__delete-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 88px 27px 88px;
}

.modal__delete-title {
  margin-bottom: 11px;
}

.modal__descr {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.form__error {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
}

/*modals*/

/*sorting*/

.table__header {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  vertical-align: bottom;
  color: var(--grey);
}

.table__header:active .table__header-text {
  color: var(--black);
}

.table__header-text {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  vertical-align: bottom;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.table__header-arrow {
  display: inline-block;
  width: 12px;
  height: 14px;
  margin-left: -3px;
  margin-bottom: -3px;
  background-image: url('../img/arrow_upward.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.table__header-arrow--down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sorted {
  color: var(--purple);
}

/*sorting*/

/*loading*/

.add-client--loading {
  margin-top: 230px;
}

#loading-overlay {
  position: absolute;
  left: 0;
  z-index: 5;
  background-color: var(--white);
  opacity: 0.5;
  cursor: wait;
}

.loading-overlay__content {
  position: relative;
  width: 100%;
  height: 100%;
}

#loader {
  position: absolute;
  left: 48%;
  top: 45%;
  z-index: 50;
  width: 40px;
  height: 40px;
  background-image: url('../img/loading.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table-action-loading {
  margin-right: 2px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loading-icon-submit {
  margin-right: 2px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/*loading*/

/*table-search*/

.table__no-data-text {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.table__no-data-tip {
  margin: 0;
  text-align: center;
  color: var(--dark-purple);
}

.header__autocomplete-block {
  -ms-flex-preferred-size: 580px;
  flex-basis: 580px;
  border: 1px solid rgba(51, 51, 51, 0.20);
}

.header__autocomplete-option {
  padding: 10px 15px;
  gap: 15px;
  cursor: pointer;
  background-color: var(--grey-option-bg);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.header__autocomplete-option:focus {
  background-color: var(--purple);
}

.header__autocomplete-option:hover {
  background-color: var(--purple);
}

.header__autocomplete-id {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--dark-purple);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__autocomplete-name {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__autocomplete-option:focus .header__autocomplete-id {
  color: var(--white);
}

.header__autocomplete-option:hover .header__autocomplete-id {
  color: var(--white);
}

.header__autocomplete-option:focus .header__autocomplete-name {
  color: var(--white);
}

.header__autocomplete-option:hover .header__autocomplete-name {
  color: var(--white);
}

.header__autocomplete-show-more {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__autocomplete-show-more:focus {
  color: var(--white);
}

.header__autocomplete-show-more:hover {
  color: var(--white);
}

.table__searched-row {
  background-color: #D8BFD8;
}

/*table-search*/
